body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
}
 
/* Cabeçalho (parte da logo e da pesquisa) */
header {
    padding: 5%;
    height: 5vh;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
header img {
    width: 10vw;
    border-radius: 100%;
}
 
form {
    height: 100%;
    padding: 5px;
}
 
.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
 
input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    /* height: 48%; */
    font-size: 16px;
}
 
.icon_pesquisa {
    color: #555;
    margin-left: 2%;
    margin-right: 5%;
}
 
.cancelar {
    background-color: transparent;
    /* height: 90%; */
    cursor: pointer;
    height: 48%;
    padding-right: 30px;
    border-radius: 14px;
}
 
.icon_cancelar {
    color: #555;
    cursor: pointer;
    margin-right: 2%;
}
 
/* Cabeçalho (parte da logo e da pesquisa) */
.sair{
    margin: 5%;
}
 
.voltar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
 
/* conteudo principal */
main{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* parte de add foto */
.add_foto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: 20vh;
    border: 1px solid #000;
    border-radius: 40px;
}
 
.imgs{
    display: flex;
    flex-direction: column;
}
 
.p_foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
 
.img_camera{
    width: 10vw;
}
 
.titulo_foto{
    font-weight: bold;
    font-size: 15px;
}
 
 
/* informações sobre o trabalho que procura */
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
 
.form_inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
 
.profissional_desejado{
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid #000;
    width: 40vw;
    height: 3vh;
}
 
.estados{
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid #000;
    width: 42vw;
    height: 3vh;
}
 
.titulo_descricao{
    font-weight: bold;
    font-size: 30px;
}
 
.caixa{
    border-radius: 40px;
    border: 2px solid #000;
    padding: 2.5%;
}
 
.pagamento_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}
 
.titulo_pagamento{
    font-weight: bold;
    font-size: 30px;
    margin-top: 5%;
}
 
.input_pagamento1{
    margin-top: 2%;
}
 
.input_pagamento2{
border: 1px solid #000;
border-radius: 40px;
width: 20vw;
}
 
.input_pagamento3{
    border: 1px solid #000;
    border-radius: 40px;
    width: 40vw;
    }
 
/* selecionar opição */
 
.btn_urgente {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    height: 3vh;
    width: 25vw;
    background-color: #ffffff;
    transition: all .5s;
    background-color: transparent;
    color: #000000;
    overflow: hidden;
    position: relative;
    border: 2px solid #df0000;
}
 
.btn_urgente::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: #df0000;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .8s;
    border-radius: 50% 50% 0 0;
}
 
.btn_urgente:hover {
    color: #ffffff;
}
 
.btn_urgente:hover::before {
    height: 180%;
}
 
.btn_oferta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    height: 3vh;
    width: 33vw;
    background-color: #ffffff;
    transition: all .5s;
    background-color: transparent;
    color: #000000;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(39, 39, 39);
}
 
.btn_oferta::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: rgb(255, 208, 0);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .8s;
    border-radius: 50% 50% 0 0;
}
 
.btn_oferta:hover {
    color: #ffffff;
}
 
.btn_oferta:hover::before {
    height: 180%;
}
 
/* botões de limpar e enviar */
 
 
 
 
 
/* navegação */
 
nav {
    background-color: #000;
    min-height: 50px;
    /* Ajuste conforme necessário, mas acho q ta ok :3 */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
 
nav ul {
    margin: 0;
    padding: 4%;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
 
.container_icones_nav:hover {
    transform: scale(1.2);
    text-shadow: 0 3px 4px rgb(255, 208, 0);
}