body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    width: 100vw;
}
 
/* navegação */
nav {
    margin: 2%;
    padding: 2%;
    /* background-color: black; */
}
 
.voltar {
    cursor: pointer;
    background-color: #fff;
    border: none;
    width: 10%;
    height: 30%;
    border-radius: 100%;
}
 
nav button a {
    width: 100%;
}
 
nav button a img {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    display: flex;
    justify-content: center;
    bac
}
 
.logo_bico {
    border-radius: 100%;
    width: 40vw;
    height: 20vh;
}
 
 
/* conteudo principal */
main h1 {
    display: flex;
    justify-content: center;
}
 
.informacao {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height: 26vh;
    width: 100vw;
    /* background-color: aqua; */
}
 
.inf_forms {
    display: flex;
    flex-direction: column;
}
 
.inf_input {
    width: 60vw;
    height: 20vh;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
 
/* Botão logim */
 
.section_login {
    display: flex;
    justify-content: center;
    height: 5vh;
    margin-top: 5%;
 
}
 
.link_login {
    text-decoration: none;
}
 
.btn_login {
    background-color: #000000;
    color: #fff;
    width: 50vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all .5s;
}
 
.bounce-effect:hover {
    width: 54vw;
    height: 7vh;
}