body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
}
 
header {
    /* margin-top: 10%; */
    display: flex;
    align-items: center;
    height: 6vh;
    max-width: 100vw;
}
 
.voltar {
    cursor: pointer;
    background-color: #fff;
    border: none;
    width: 10%;
    height: 30%;
    border-radius: 100%;
    padding-top: 110%;
}
 
header button a {
    width: 100%;
}
 
/* conteudo principal */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 87vh; */
}
 
.altura{
    height: 87vh;
}
 
/* parte de informações pessoais */
.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: aqua; */
    height: 25vh;
}
 
.container_img {
    width: 40vw;
    height: 20vh;
    /* background-color: blue;  */
    /* margin: 20px; */
 
}
 
.foto_perfil {
    width: 30vw;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 100%;
}
 
.apelido {
    padding-left: 24%;
    font-weight: bold;
}
 
 
h2 {
    /* width:48vw; */
    padding-bottom: 10%;
}
 
.data_inicio {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}
 
.linha {
    background-color: rgb(200, 200, 200);
    width: 100vw;
    height: 5px;
    border-radius: 40px;
}
 
/* informações gerais de trabalho */
.section_conteudo {
    width: 100%;
}
 
.habilidades {
    margin: 0;
    padding-top: 5%;
    padding-left: 10%;
}
 
.titulo1{
    font-size: 26px;
    font-weight: bold;
}
 
.titulo2{
    font-size: 13px;
    padding-left: 4%;
    font-weight: bold;
}
 
.conteudo{
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #000;
    border-radius: 10px
}
 
 
.span_conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.borda_foto_comentario{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content:center ;
    border-radius: 47%;
    width: 11%;
}
 
.espaco_foto_escrita{
    padding-left: 5%;
}
 
/* navegação */
nav {
    background-color: #000;
    min-height: 1%;
}
 
nav ul {
    margin: 0;
    padding: 4%;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
 
.container_icones_nav:hover {
    transform: scale(1.2);
    text-shadow: 0 3px 4px rgb(255, 208, 0);
}
 
.anuncios_nav {
    text-shadow: 0 3px 4px rgb(255, 208, 0);
}